html{
  margin:10px;
}
#questionOne{
  margin:10px;
  border:solid;
}
#questionTwo{
  border:solid;
}
#firstPage{
  display:;
}
#secondPage{
  display:;
}
#fourpic{
  margin:10px;
  display:grid;
  grid-template-columns: repeat(4,1fr)

}
#f1{margin:10px;}
#f2{margin:10px;}
#f3{margin:10px;}
#f4{margin:10px;}
#t1{margin:10px;}
#t2{margin:10px;}
#t3{margin:10px;}
#threepic{
  margin:10px;
  display:grid;
  grid-template-columns: repeat(3,1fr)
}

.pic{border:solid;}

#dropDown{
  text-align: center;
  font-size:25px;
  background-color: grey;
}
#myDropDown:hover{
  cursor: pointer;
}

#diyige{
  /*display:none;*/
}
#dierge{
 /* display:none;*/
}
.hidden{
  display:none;
}
#diyige:hover{
  cursor:pointer;
}
#dierge:hover{
  cursor:pointer;
}


.box{
  position:relative;
  margin:5px;
  height:100px;
  width:100px;
}
.red{
  transition:3s;
  background-color: red;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.pink{
  background-color: pink;
}
.box:hover{
  cursor: pointer;
}
.changeColor{

    background-color: blue;
    animation:changeColor 4s;
    left:100px;
    transition:2s;
}

@keyframes changeColor{
  from{background-color: red;
    left:0px;}
  to{background-color: blue;
    left:100px;
  }
}
#thirdB:hover{
  transition:3s;
  width:300px;
  height:300px;
}
#thirdB{
  transition:3s;
}
#secondB{

}

.changeSize{
  animation:ChangeSize 5s;
}
@keyframes ChangeSize{
  0%{width:100px;
      height:100px;}
  100%{
    width:300px;
    height:300px;
  }

#forthB{
  left:100px;
}
.movePo{

  animation:MovePo 5s;
}
@keyframes MovePo{
  0%{left :100px;}
  25%{top:100px;}
  50%{right:100px;}
  100%{buttom:100px;}
}



